<section class="contact-section" id="contact">
  <div class="container">
    <h2>Contact Us Today! </h2>
    <hr>
    <p>
      Ready to start your next project with us? <br><br>Give us a call or send us an email and we will get back to you as soon as possible!
    </p>
    <br>
    <div class="row">
      <div class="col-lg-6 text-center">
        <i class="fas fa-phone fa-lg"></i>
        <p>847-420-2779</p>
      </div>
      <div class="col-lg-6 text-center">
        <i class="fas fa-envelope fa-lg"></i>
        <p><a href="mailto:k.zanoniinteriordesign@gmail.com">k.zanoniinteriordesign@gmail.com</a></p>
      </div>
    </div>
  </div>
</section>